@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular/linetocircularbook.eot');
    src: url('/fonts/Circular/linetocircularbook.eot') format('embedded-opentype'),
         url('/fonts/Circular/linetocircularbook.woff2') format('woff2'),
         url('/fonts/Circular/linetocircularbook.woff') format('woff'),
         url('/fonts/Circular/linetocircularbook.ttf') format('truetype'),
         url('/fonts/Circular/linetocircularbook.svg#linetocircularbook') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular/linetocircularmedium.eot');
    src: url('/fonts/Circular/linetocircularmedium.eot') format('embedded-opentype'),
         url('/fonts/Circular/linetocircularmedium.woff2') format('woff2'),
         url('/fonts/Circular/linetocircularmedium.woff') format('woff'),
         url('/fonts/Circular/linetocircularmedium.ttf') format('truetype'),
         url('/fonts/Circular/linetocircularmedium.svg#linetocircularmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('/fonts/Circular/linetocircularbold.eot');
    src: url('/fonts/Circular/linetocircularbold.eot') format('embedded-opentype'),
         url('/fonts/Circular/linetocircularbold.woff2') format('woff2'),
         url('/fonts/Circular/linetocircularbold.woff') format('woff'),
         url('/fonts/Circular/linetocircularbold.ttf') format('truetype'),
         url('/fonts/Circular/linetocircularbold.svg#linetocircularbold') format('svg');
    font-weight: 700;
    font-style: normal;
}
